head
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
    link(rel="stylesheet", href="css/main.css")
    title MyPage
    link(rel='icon', type='image/ico', href='/images/others/icon.jpeg')
body
    nav.navbar.navbar-expand-md.navbar-dark.bg-fade.fixed-top(itemscope)
        button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation")
            span.navbar-toggler-icon
        div#navbarsExampleDefault.collapse.navbar-collapse
            ul.navbar-nav.mr-auto
                li.nav-item.active
                    a.nav-link(itemprop= "Home" href="#") Home
                        span.sr-only(current)
                li.nav-item
                    a.nav-link(itemprop= "News" href="#") News
                li.nav-item
                    a.nav-link(itemprop= "Contact" href="#") Contact
                li.nav-item
                    a.nav-link(itemprop= "About" href="#") About

    div.jumbotron.jumbotron-fluid(itemscope)
        div#demo.carousel.slide(data-ride='carousel')
            ul.carousel-indicators
                li.active(itemprop= "slide1" data-target='#demo', data-slide-to='0')
                li(itemprop= "slide2" data-target='#demo', data-slide-to='1')
                li(itemprop= "slide3" data-target='#demo', data-slide-to='2')
            .carousel-inner
                .carousel-item.active
                    img(itemprop= "image1" src='/images/others/1.jpeg', alt='Los Angeles')
                    .carousel-caption(itemprop= "caption1")
                        h3 Los Angeles
                        p We had such a great time in LA!
                .carousel-item
                    img(itemprop= "image2" src='/images/others/2.jpeg', alt='Chicago')
                    .carousel-caption(itemprop= "caption2")
                        h3 Chicago
                        p Thank you, Chicago!
                .carousel-item
                    img(itemprop= "image3" src='/images/others/12.jpeg', alt='New York')
                    .carousel-caption(itemprop= "caption3")
                        h3 New York
                        p We love the Big Apple!
            a.carousel-control-prev(href='#demo', data-slide='prev')
                span.carousel-control-prev-icon
            a.carousel-control-next(href='#demo', data-slide='next')
                span.carousel-control-next-icon
    section.module.parallax.parallax-1(data-type="background" data-speed="10")
        div.parallax-container
            h1 Motion
    section.module.content(itemscope)
        div.parallax-container
            h2(itemprop= "heading") Lorem Ipsum Dolor
            p(itemprop= "content") Lorem ipsum dolor...

    div.bs-example(itemscope)
        div#accordionExample.accordion
            div.card
                div#headingOne.card-header
                    h2.mb-0
                        button#btnCollapse.btn.btn-link(itemprop= "heading1" type="button" data-toggle="collapse" data-target="#collapseOne") What is HTML?
                            //i(class="fa fa-plus") What is HTML?

                div#collapseOne.collapse.show(aria-labelledby="headingOne" data-parent="#accordionExample")
                    div.card-body
                        p(itemprop= "content1") HTML stands for HyperText Markup Language. HTML is the standard markup language for describing the structure of web pages.

            div.card
                div#headingTwo.card-header
                    h2.mb-0
                        button#btnCollapse.btn.btn-link.collapsed(itemprop= "heading2" type="button" data-toggle="collapse" data-target="#collapseTwo") What is Bootstrap?
                            //i(class="fa fa-plus") What is Bootstrap?

                div#collapseTwo.collapse(aria-labelledby="headingTwo" data-parent="#accordionExample")
                    div.card-body
                        p(itemprop= "content2") Bootstrap is a sleek, intuitive, and powerful front-end framework for faster and easier web development. It is a collection of CSS and HTML conventions.

            div.card
                div#headingThree.card-header
                    h2.mb-0
                        button#btnCollapse.btn.btn-link.collapsed(itemprop= "heading3" type="button" data-toggle="collapse" data-target="#collapseThree") What is CSS?
                            //i(class="fa fa-plus") What is CSS?

                div#collapseThree.collapse(aria-labelledby="headingThree" data-parent="#accordionExample")
                    div.card-body
                        p(itemprop= "content3") CSS stands for Cascading Style Sheet. CSS allows you to specify various style properties for a given HTML element such as colors, backgrounds, fonts etc.

    .mymodel
        h2 Centered Modal Example
        p
            | Center the modal vertically and horizontally within the page, with the .modal-dialog-centered class.
        // Button to Open the Modal
        button.btn.btn-primary(type='button', data-toggle='modal', data-target='#myModal')
            | Open modal
        // The Modal
        #myModal.modal.fade
            .modal-dialog.modal-dialog-centered
                .modal-content
                    // Modal Header
                    .modal-header
                        h4.modal-title Modal Heading
                        button.close(type='button', data-dismiss='modal') &times;
                    // Modal body
                    .modal-body
                        | Modal body..
                    // Modal footer
                    .modal-footer
                        button.btn.btn-secondary(type='button', data-dismiss='modal') Close
    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
    //script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous")
    script(src="js/main.js")